<.header>
  New Item
  <:subtitle>Use this form to manage item records in your database.</:subtitle>
</.header>

<.item_form changeset={@changeset} action={~p"/admin/item"} />

<.back navigate={~p"/admin/item"}>Back to item</.back>
